:root {
    --teal: #35959b;
    --dark-teal: #003333;
    --light: #D4F6F5; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 30px;
    background-color: var(--teal);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    font-family: garamond serif;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--light);
    margin: 0;
}

header a {
    text-decoration: none;
    color: var(--light);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-size: 1.55vw;
    color: var(--light);
}

.hero {
    background-image: url("images/pic_ocean.png");
    font-family: garamond serif;
    border: 0px solid var(--dark-teal);
    margin: 0;
    position: relative;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: static;
    background-position: 80%;
}

.hero-content {
    position: relative;
    width: 100%;
    text-align: right;
    margin: 3.5%;
}

.hero h2 {
    font-size: 50px;
    font-weight: lighter;
    width: fit-content;
    padding: 15px;
    float: right;
    color: white;
}

section {
    margin: 25px;
}

#about-me {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 25px;
}

.my-photo {
    width: 35%;
    border: 5px solid var(--teal);
    overflow: auto;
}

#about-me h2 {
    color: var(--dark-teal);
    padding: 25px;

}

.info {
    padding: 25px;
    font-size: 17px;
    color: var(--dark-teal);
    overflow: auto;
    line-height: 1.3;
    text-align: left;
}

#work-experience {
    width: 100%;
    margin: 0 auto;
    display: flex;
    padding-bottom: 20px;
    /* flex-direction: row; */
    /* align-items: center;
    justify-content: space-evenly; */
}

#work-experience h2 {
    color: var(--dark-teal);
    padding-top: 66px;
    margin: 25px;
}

#cocktail img {
    width: 75%;
    float: right;
    margin: 100px;
    overflow: auto;
    border: 5px solid var(--teal);
}

.projects {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


#travel-app img {
    width: 50%;
    overflow: auto;
    border: 5px solid var(--teal);
    margin-left: 400px;
}

#run-buddy img {
    width: 60%;
    overflow: auto;
    background: var(--light);
    border: 5px solid var(--teal);
}

/* #place-holder h3 {
    color: var(--dark-teal);
    text-align: center;
    padding-top: 70px;
} */

#contact-info {
    width: 100%;
    color: var(--dark-teal);
    padding-top: 40px;
    margin: 0 auto;
    padding-bottom: 45px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
}

/* Media query for tablets and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    section {
        flex-wrap: wrap;
    }

    .projects {
        flex-direction: column;
    }

    #work-experience {
        flex-direction: column;
    }

    #travel-app img {
        margin: 0 auto;
    }

}

@media screen and (max-width: 760px) {
    
    #run-buddy img {
        width: 100%;
    }
    
    #travel-app img {
        width: 100%;
    }

    #place-holder {
        width: 100%;
    }
}