:root {
    --teal: #009999;
    --dark-teal: #003333;
    --light: #D4F6F5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 10px 30px;
    background-color: var(--teal);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--dark-teal);
    margin: 0;
}

header a{
    text-decoration: none;
    color: var(--darkteal);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    color: var(--dark-teal);
}

.hero {
    background-image: url("images/hero-image.jpg");
    border: 5px solid var(--dark-teal);
    margin: 0;
    position: relative;
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
}

.hero-content {
    position: relative;
    width: 100%;
    text-align: right;
    margin: 3.5%;
}

.hero h2 {
    font-size: 30px;
    font-weight: lighter;
    width: fit-content;
    padding: 15px;
    float: right;
    color: var(--light);
    background-color: var(--dark-teal);
}


section {
    margin: 25px;
}

#about-me {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.my-photo {
    width: 50%;
    padding: 10%;
    overflow: auto;
}

#about-me h2 {
    color: var(--dark-teal);
    padding: 25px;

}

.info {
    padding: 25px;
    font-size: 17px;
    color: var(--dark-teal);
    overflow: auto;
    line-height: 1.3;
    text-align: left;
}

#work-experience {
    width: 100%;
    /* margin: 0 auto; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.projects {
    flex-direction: column;

}

#first-project {
    margin: 20px;
    flex:1;
}

#first-project img {
    width: 65%;
    overflow: auto;
}

#project img {
    width: 50%;
    overflow: auto;
}

/* Media query for tablets and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    section {
        flex-wrap: wrap;
    }
}